<div class="container">
  <header class="header">
    <div class="header-container">
      <div class="icon-container">
        <app-icon name="home" class="icon"></app-icon>
      </div>
      <div class="p-container icon-container">
        <p>/ 01</p>
        <p>/ Estudiante</p>
        <p style="color: #3e99e7">/ Entrada</p>
        <p>/ Listar</p>
      </div>
    </div>

    <div class="button-header">
      <button class="action-button" (click)="toggleFilterMenu($event)">
        <app-icon name="filter" class="icon"></app-icon>
        filtrar
        <app-icon name="collapseArrow" class="icon"></app-icon>
      </button>

      <div *ngIf="isFilterMenuVisible" class="filter-menu">
        <label><input type="checkbox" [checked]="isFilterVisible.commission" (change)="toggleFilterVisibility('commission', $event)" /> Comisión</label>         
        <label><input type="checkbox" [checked]="isFilterVisible.lastName" (change)="toggleFilterVisibility('lastName', $event)" /> Apellidos</label>
        <label><input type="checkbox" [checked]="isFilterVisible.firstName" (change)="toggleFilterVisibility('firstName', $event)" /> Nombre(s)</label>
        <label><input type="checkbox" [checked]="isFilterVisible.ciStudent" (change)="toggleFilterVisibility('ciStudent', $event)" /> Carné de identidad</label>
        <label><input type="checkbox" [checked]="isFilterVisible.academicIndex" (change)="toggleFilterVisibility('academicIndex', $event)" /> Índice académico</label>
        <label><input type="checkbox" [checked]="isFilterVisible.preUniversity" (change)="toggleFilterVisibility('preUniversity', $event)" /> Preuniversitario</label>
        <label><input type="checkbox" [checked]="isFilterVisible.province" (change)="toggleFilterVisibility('province', $event)" /> Provincia</label>
        <label><input type="checkbox" [checked]="isFilterVisible.gender" (change)="toggleFilterVisibility('gender', $event)" /> Sexo</label>
        <label><input type="checkbox" [checked]="isFilterVisible.admissionMethod" (change)="toggleFilterVisibility('admissionMethod', $event)" /> Vía de ingreso</label>
      </div>

      <button class="action-button" (click)="navigateToAddStudent()">
        <app-icon name="addUser" class="icon"></app-icon>
        Agregar Nuevo
      </button>
    </div>
  </header>

  <div class="filter-form" *ngIf="isAnyFilterVisible()">
    <div class="filter-form-container">
        <div class="filter-row" *ngIf="isFilterVisible.commission">
            <label for="commission1">Comisión</label>
            <div class="select-container">
                <select id="commission1">
                    <option value=""></option>
                    <option *ngFor="let commission of commissions" [value]="commission">{{ commission }}</option>
                </select>    
                <select id="commission2" *ngIf="showCommissionFilter">
                    <option value=""></option>
                    <option *ngFor="let commission of commissions" [value]="commission">{{ commission }}</option>
                </select>                                        
            </div>
            <button class="clear-button" *ngIf="showCommissionFilter" (click)="toggleFilter('commission')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>                
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.lastName">
            <label for="lastName1">Apellidos</label>
            <div class="input-container">
                <input type="text" id="lastName1">               
                <input type="text" id="lastName2" *ngIf="showLastNameFilter">               
            </div>
            <button class="clear-button" *ngIf="showLastNameFilter" (click)="toggleFilter('lastName')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>   
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.firstName">
            <label for="firstName1">Nombre(s)</label>
            <div class="input-container">
                <input type="text" id="firstName1">               
                <input type="text" id="firstName2" *ngIf="showFirstNameFilter">               
            </div>
            <button class="clear-button" *ngIf="showFirstNameFilter" (click)="toggleFilter('firstName')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>   
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.ciStudent">
            <label for="ciStudent1">Carné de identidad</label>
            <div class="input-container">
                <input type="text" id="ciStudent1">               
                <input type="text" id="ciStudent2" *ngIf="showCiStudentFilter">               
            </div>
            <button class="clear-button" *ngIf="showCiStudentFilter" (click)="toggleFilter('ciStudent')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>   
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.academicIndex">
            <label for="academicIndex1">Índice académico</label>
            <div class="input-container">
                <input type="text" id="academicIndex1">               
                <input type="text" id="academicIndex2" *ngIf="showAcademicIndexFilter">               
            </div>
            <button class="clear-button" *ngIf="showAcademicIndexFilter" (click)="toggleFilter('academicIndex')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>   
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.preUniversity">
            <label for="preUniversity1">Preuniversitario</label>
            <div class="select-container">
                <select id="preUniversity1">
                    <option value=""></option>
                    <option *ngFor="let preUniversity of preUniversities" [value]="preUniversity">{{ preUniversity }}</option>
                </select>
                <select id="preUniversity2" *ngIf="showPreUniversityFilter">
                    <option value=""></option>
                    <option *ngFor="let preUniversity of preUniversities" [value]="preUniversity">{{ preUniversity }}</option>
                </select>                                    
            </div>
            <button class="clear-button" *ngIf="showPreUniversityFilter" (click)="toggleFilter('preUniversity')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>     
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.province">
            <label for="province1">Provincia</label>
            <div class="select-container">
                <select id="province1">
                    <option value=""></option>
                    <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
                </select>
                <select id="province2" *ngIf="showProvinceFilter">
                    <option value=""></option>
                    <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
                </select>                                    
            </div>
            <button class="clear-button" *ngIf="showProvinceFilter" (click)="toggleFilter('province')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>     
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.gender">
            <label for="gender1">Sexo</label>
            <div class="select-container">
                <select id="gender1">
                    <option value=""></option>
                    <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                </select>
                <select id="gender2" *ngIf="showGenderFilter">
                    <option value=""></option>
                    <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                </select>                                    
            </div>
            <button class="clear-button" *ngIf="showGenderFilter" (click)="toggleFilter('gender')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>     
        </div>
        
        <div class="filter-row" *ngIf="isFilterVisible.admissionMethod">
            <label for="admissionMethod1">Vía de ingreso</label>
            <div class="select-container">
                <select id="admissionMethod1">
                    <option value=""></option>
                    <option *ngFor="let method of admissionMethods" [value]="method">{{ method }}</option>
                </select>
                <select id="admissionMethod2" *ngIf="showAdmissionMethodFilter">
                    <option value=""></option>
                    <option *ngFor="let method of admissionMethods" [value]="method">{{ method }}</option>
                </select>                                    
            </div>
            <button class="clear-button" *ngIf="showAdmissionMethodFilter" (click)="toggleFilter('admissionMethod')">
                <app-icon name="subtract" class="icon"></app-icon>
            </button>     
        </div>
    </div>

    <div>
        <div class="filter-actions">
            <div class="buttons-row">
                <button class="filter-button" (click)="applyFilters()">
                    <app-icon name="filterWithe" class="icon"></app-icon>
                    Filtrar
                </button>
                <button class="reset-button" (click)="resetFilters()">Restablecer</button>
            </div>
            
            <div class="advanced-filters" (click)="toggleAllFilters()">
                <app-icon name="settings" class="icon"></app-icon>
                Filtros avanzados
            </div>
        </div>
    </div>
</div>




  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Comisión</th>
          <th>Apellidos</th>
          <th>Nombre(s)</th>
          <th>Carné de identidad</th>
          <th>Índice</th>
          <th>Preuniversitario</th>
          <th>Provincia</th>
          <th>Sexo</th>
          <th>Vía de ingreso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ 'Comision de ejemplo' }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.ciStudent }}</td>
          <td>{{ student.academicIndex }}</td>
          <td>{{ student.preUniversity }}</td>
          <td>{{ student.province }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.admissionMethod }}</td>
          <td>
            <div class="btn-show-container">
              <button class="btn-show" (click)="showStudent(student.ciStudent)">
                <app-icon name="show" class="icon"></app-icon>
                Mostrar
              </button>
              <button class="btn-show" (click)="editStudent(student.ciStudent)">
                <app-icon name="pencil" class="icon"></app-icon>
                Editar
              </button>
              <button class="btn-show" (click)="deleteStudent(student.ciStudent)">
                <app-icon name="delete" class="icon"></app-icon>
                Eliminar
              </button>
            </div>
           
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
