<div class="container">

  <header class="header">
    <div class="header-container">
      <div class="icon-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 512 512"
        >
          <path
            fill="#3e99e7"
            d="M261.56 101.28a8 8 0 0 0-11.06 0L66.4 277.15a8 8 0 0 0-2.47 5.79L63.9 448a32 32 0 0 0 32 32H192a16 16 0 0 0 16-16V328a8 8 0 0 1 8-8h80a8 8 0 0 1 8 8v136a16 16 0 0 0 16 16h96.06a32 32 0 0 0 32-32V282.94a8 8 0 0 0-2.47-5.79Z"
          />
          <path
            fill="#3e99e7"
            d="m490.91 244.15l-74.8-71.56V64a16 16 0 0 0-16-16h-48a16 16 0 0 0-16 16v32l-57.92-55.38C272.77 35.14 264.71 32 256 32c-8.68 0-16.72 3.14-22.14 8.63l-212.7 203.5c-6.22 6-7 15.87-1.34 22.37A16 16 0 0 0 43 267.56L250.5 69.28a8 8 0 0 1 11.06 0l207.52 198.28a16 16 0 0 0 22.59-.44c6.14-6.36 5.63-16.86-.76-22.97"
          />
        </svg>
      </div>
      <div class="p-container icon-container">
        <p>/ 01</p>
        <p>/ Estudiante</p>
        <p style="color: #3e99e7">/ Entrada</p>
        <p>/ Listar</p>
      </div>
    </div>


    <div class="button-header">
      <button class="action-button" (click)="toggleFilterMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="#171414" d="M3 4.5A1.5 1.5 0 0 1 4.5 3h15A1.5 1.5 0 0 1 21 4.5v2.086A2 2 0 0 1 20.414 8L15 13.414v7.424a1.1 1.1 0 0 1-1.592.984l-3.717-1.858A1.25 1.25 0 0 1 9 18.846v-5.432L3.586 8A2 2 0 0 1 3 6.586z"/></g></svg>
        filtrar
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 20 20"><path fill="#171414" d="m15 8l-4.03 6L7 8z"/></svg>
      </button>
    
      <div *ngIf="isFilterMenuVisible" class="filter-menu">
        <label><input type="checkbox"> Comisión</label>
        <label><input type="checkbox"> Apellidos</label>
        <label><input type="checkbox"> Nombre(s)</label>
        <label><input type="checkbox"> Carné de identidad</label>
        <label><input type="checkbox"> Índice</label>
        <label><input type="checkbox"> Preuniversitario</label>
        <label><input type="checkbox"> Provincia</label>
        <label><input type="checkbox"> Sexo</label>
        <label><input type="checkbox"> Vía de ingreso</label>
      </div>
    
      <button class="action-button" (click)="navigateToAddStudent()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path fill="#171414" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5 11h-4v4h-2v-4H7v-2h4V7h2v4h4z"/>
        </svg>
        Agregar Nuevo
      </button>
    </div>
  </header>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Comisión</th>
            <th>Apellidos</th>
            <th>Nombre(s)</th>
            <th>Carné de identidad</th>
            <th>Índice</th>
            <th>Preuniversitario</th>
            <th>Provincia</th>
            <th>Sexo</th>
            <th>Vía de ingreso</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.commission }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.idCard }}</td>
            <td>{{ student.index }}</td>
            <td>{{ student.preuniversity }}</td>
            <td>{{ student.province }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.entryWay }}</td>
            <td>

              <button class="btn-show" (click)="showStudent(student.idCard)">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 10h3m0 0h3m-3 0V7m0 3v3m5 2l6 6m-11-4a7 7 0 1 1 0-14a7 7 0 0 1 0 14"/></svg>
                Mostrar
              </button>
              
          
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  