  .container{
    margin: 1rem 1rem;
 
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;  
    height: 2.5rem;
    background-color: #fcfcfc;   
  } 

  .header-container {
    display: flex;   
    align-items: center; 
    padding-left: 1rem; 
  }

  .icon-container {
    display: flex; 
    align-items: center; 
    padding-right: 1rem;
  }

  .p-container {
    display: flex; 
    gap: 1rem; 
  }
  
  p {
    margin: 0; 
    font-size: 1rem;
  }

  .table-container {
    overflow-x: auto;
  }
  
  table {  
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgb(43, 154, 228);
  }
  
  th, td {
    padding: 11px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background: #f8f8f8;
    font-weight: bold;
  }
  
  .btn-show {
    display: flex;
    align-items: center;   
  }
  
  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;   
    margin-right: 0.5rem;
  }
  .button-header{
    display: flex;
    gap:0.5rem;
  }

}  