<div class="form-container">
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <header class="header">
      <div class="header-container">
        <div class="icon-container">
          <app-icon name="home" class="icon"></app-icon>
        </div>
        <div class="p-container icon-container">
          <p>/ 01</p>
          <p>/ Estudiante</p>
          <p style="color: #3e99e7">/ Entrada</p>
          <p>/ Crear</p>
        </div>
      </div>
    </header>

    <div class="father">
      <div class="container-personal">
        <div class="section">
          <div>
            <label for="ciStudent">Carné de identidad *</label>
            <input
              id="ciStudent"
              type="text"
              formControlName="ciStudent"
              (keydown)="onKeyDown($event)"
              [ngClass]="{
                'invalid-input':
                  studentForm.get('ciStudent')?.invalid &&
                  studentForm.get('ciStudent')?.touched,
              }"
              [style.border]="
                studentForm.get('ciStudent')?.invalid &&
                studentForm.get('ciStudent')?.touched
                  ? '1px solid red'
                  : ''
              "
            />
          </div>
          <button class="autocomplete" type="button" (click)="onAutocomplete()">
            <app-icon name="FillForm" class="icon FillOut"></app-icon>
            Rellenar
          </button>
        </div>

        <!-- Datos personales -->
        <!-- Cambiar los *ngIf por [style.visibility] -->
        <div
          class="section"
          [style.visibility]="isFormVisible ? 'visible' : 'hidden'"
        >
          <h3>Datos personales</h3>

          <div class="form-group">
            <label for="nationality">Nacionalidad *</label>
            <input
              id="nationality"
              type="text"
              formControlName="nationality"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="lastName">Apellidos *</label>
            <input
              id="lastName"
              type="text"
              formControlName="lastName"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="firstName">Nombre(s) *</label>
            <input
              id="firstName"
              type="text"
              formControlName="firstName"
              readonly
            />
          </div>

          <div class="form-group textarea-address">
            <label for="address">Dirección particular *</label>
            <textarea
              id="address"
              formControlName="address"
              readonly
            ></textarea>
          </div>

          <div class="form-group">
            <label for="province">Provincia de residencia *</label>
            <input
              id="province"
              type="text"
              formControlName="province"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="municipality">Municipio de residencia *</label>
            <input
              id="municipality"
              type="text"
              formControlName="municipality"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="skinColor">Color de piel</label>
            <input
              id="skinColor"
              type="text"
              formControlName="skinColor"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="gender">Sexo *</label>
            <input id="gender" type="text" formControlName="gender" readonly />
          </div>
        </div>
      </div>

      <!-- Datos de procedencia -->
      <div
        class="section Origin-data container-data"
        [style.visibility]="isFormVisible ? 'visible' : 'hidden'"
      >
        <h3>Datos de procedencia</h3>

        <div class="form-group">
          <label for="preUniversity">Preuniversitario *</label>
          <select id="preUniversity" formControlName="preUniversity">
            <!-- Puedes agregar más opciones según tus necesidades -->
            <option value="Preuniversitario 1">Preuniversitario 1</option>
            <option value="Preuniversitario 2">Preuniversitario 2</option>
            <option value="Preuniversitario 3">Preuniversitario 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="admissionMethod">Vía de ingreso *</label>
          <select id="admissionMethod" formControlName="admissionMethod">
            <!-- Opciones para la vía de ingreso -->
            <option value="metodo 1">Método 1</option>
            <option value="metodo 2">Método 2</option>
            <option value="metodo 3">Método 3</option>
          </select>
        </div>
      </div>

      <!-- Datos sociales -->
      <div
        class="section social-data container-data"
        [style.visibility]="isFormVisible ? 'visible' : 'hidden'"
      >
        <h3>Datos sociales</h3>

        <div class="form-group">
          <label for="motherEducation">Escolaridad de la madre *</label>
          <select id="motherEducation" formControlName="motherEducation">
            <option value="ninguno">Ninguno</option>
            <option value="primaria">Primaria</option>
            <option value="secundaria">Secundaria</option>
            <option value="preparatoria">Preparatoria</option>
            <option value="universidad">Universidad</option>
          </select>
        </div>

        <div class="form-group">
          <label for="fatherEducation">Escolaridad del padre *</label>
          <select id="fatherEducation" formControlName="fatherEducation">
            <option value="ninguno">Ninguno</option>
            <option value="primaria">Primaria</option>
            <option value="secundaria">Secundaria</option>
            <option value="preparatoria">Preparatoria</option>
            <option value="universidad">Universidad</option>
          </select>
        </div>

        <div class="form-group">
          <label for="motherOccupation">Ocupación de la madre *</label>
          <select id="motherOccupation" formControlName="motherOccupation">
            <option value="ama-de-casa">Ama de casa</option>
            <option value="maestra">Maestra</option>
            <option value="medica">Médica</option>
            <option value="ingeniera">Ingeniera</option>
            <option value="otro">Otro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="fatherOccupation">Ocupación del padre *</label>
          <select id="fatherOccupation" formControlName="fatherOccupation">
            <option value="obrero">Obrero</option>
            <option value="maestro">Maestro</option>
            <option value="medico">Médico</option>
            <option value="ingeniero">Ingeniero</option>
            <option value="otro">Otro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="motherWorkSector">Sector laboral de la madre *</label>
          <select id="motherWorkSector" formControlName="motherWorkSector">
            <option value="educacion">Educación</option>
            <option value="salud">Salud</option>
            <option value="servicios">Servicios</option>
            <option value="comercio">Comercio</option>
            <option value="otro">Otro</option>
          </select>
        </div>

        <div class="form-group">
          <label for="fatherWorkSector">Sector laboral del padre *</label>
          <select id="fatherWorkSector" formControlName="fatherWorkSector">
            <option value="educacion">Educación</option>
            <option value="salud">Salud</option>
            <option value="servicios">Servicios</option>
            <option value="comercio">Comercio</option>
            <option value="otro">Otro</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Botones -->

    <footer
      class="container-footer"
      [style.visibility]="isFormVisible ? 'visible' : 'hidden'"
    >
      <div class="buttons">
        <button type="button" class="cancel" (click)="navigateToAddStudent()">
          <app-icon name="menu" class="icon"></app-icon>
          Cancelar
        </button>

        <!-- Botón: Crear y agregar otro -->
        <button type="button" class="create" (click)="onSubmit('create')">
          <app-icon name="add" class="icon"></app-icon>
          Crear y agregar otro
        </button>

        <!-- Botón: Crear y regresar al listado -->
        <button
          type="button"
          class="create-list"
          (click)="onSubmit('create-list')"
        >
          <app-icon name="save" class="icon"></app-icon>

          <app-icon name="menu" class="icon"></app-icon>
          Crear y regresar al listado
        </button>
      </div>
    </footer>
  </form>
</div>
