<div class="container">
    <header class="header">
        <div class="header-container">
          <div class="icon-container">
            <app-icon name="home" class="icon"></app-icon>
          </div>
          <div class="p-container icon-container">
            <p>/ 04</p>
            <p>/ Modelos de datos excel</p>
            <p style="color: #3e99e7">/ Importar</p>
            <p>/ Listar</p>
          </div>
        </div>
    
        <div class="button-header">
          <button class="action-button" (click)="toggleFilterMenu()">
            <app-icon name="filter" class="icon"></app-icon>
            filtrar
            <app-icon name="collapseArrow" class="icon"></app-icon>
          </button>
    
          <div *ngIf="isFilterMenuVisible" class="filter-menu">
            <label><input type="checkbox" /> Comisión</label>         
            <label><input type="checkbox" /> Nombre</label>
            <label><input type="checkbox" /> Tipo de modelo</label>
            <label><input type="checkbox" /> Usuario</label>
          </div>
    
          <button class="action-button">
            <app-icon name="addUser" class="icon"></app-icon>
            Agregar Nuevo
          </button>
        </div>
    </header>

    <!-- <button class="clear-button">
                        <app-icon name="add" class="icon"></app-icon>
                    </button> -->

    <div class="filter-form">
        <div class="filter-form-container">
            <div class="filter-row">
                <label for="comision">Comisión</label>
                <div class="select-container">
                    <select id="comision">
                        <option value=""></option>
                    </select>    
                    <select id="comision">
                        <option value=""></option>
                    </select>                                        
                </div>
                <button class="clear-button">
                    <app-icon name="subtract" class="icon"></app-icon>
                </button>                
            </div>
            
            <div class="filter-row">
                <label for="nombre">Nombre</label>
                <div class="input-container">
                    <input type="text" id="nombre-desde">               
                    <input type="text" id="nombre-hasta">               
                </div>
                <button class="clear-button">
                    <app-icon name="subtract" class="icon"></app-icon>
                </button>   
            </div>
            
            <div class="filter-row">
                <label for="tipo-modelo">Tipo de modelo</label>
                <div class="select-container">
                    <select id="tipo-modelo">
                        <option value=""></option>
                    </select> 
                    <select id="tipo-modelo">
                        <option value=""></option>
                    </select>                
                </div>
                <button class="clear-button">
                    <app-icon name="subtract" class="icon"></app-icon>
                </button>   
            </div>
            
            <div class="filter-row">
                <label for="usuario">Usuario</label>
                <div class="select-container">
                    <select id="usuario">
                        <option value=""></option>
                    </select>
                    <select id="usuario">
                        <option value=""></option>
                    </select>                                    
                </div>
                <button class="clear-button">
                    <app-icon name="subtract" class="icon"></app-icon>
                </button>     
            </div>

        </div>
    
        <div>
            <div class="filter-actions">
                <div class="buttons-row">
                    <button class="filter-button">
                        <app-icon name="filterWithe" class="icon"></app-icon>
                        Filtrar
                    </button>
                    <button class="reset-button">Restablecer</button>
                </div>
                
                <div class="advanced-filters">
                    <app-icon name="settings" class="icon"></app-icon>
                    Filtros avanzados
                </div>
            </div>
        </div>
   
    </div>
</div>