<div class="container">
    <header class="header">
        <div class="header-container">
          <div class="icon-container">
            <app-icon name="home" class="icon"></app-icon>
          </div>
          <div class="p-container icon-container">
            <p>/ 01</p>
            <p>/ Estudiante</p>
            <p style="color: #3e99e7">/ Entrada</p>
            <p>/ Mostrar</p>
          </div>
        </div>
    
        <div class="button-header">    
          <button class="action-button" (click)="navigate()">
            <app-icon name="menu" class="icon"></app-icon>
            Regresar al lisitado
          </button>          
        </div>
      </header>

      <div class="header-comision">
        <h2>Entrada</h2>
        <div  class="container-comision">
          <p class="p-comision">Comisión:</p>
          <p>{{ student.comision }}</p>
        </div>      
      </div>
  
    <div class="container-card">
      <!-- Datos personales -->
      <div class="card">
        <h3>Datos personales</h3>
        <ul>
          <li><strong>Carné de identidad:</strong> {{ student.ci }}</li>
          <li><strong>Apellidos:</strong> {{ student.apellidos }}</li>
          <li><strong>Nombre(s):</strong> {{ student.nombres }}</li>
          <li><strong>Dirección particular:</strong> {{ student.direccion }}</li>
          <li><strong>Provincia de residencia:</strong> {{ student.provincia }}</li>
          <li><strong>Municipio de residencia:</strong> {{ student.municipio }}</li>
          <li><strong>Color de piel:</strong> {{ student.colorPiel }}</li>
          <li><strong>Sexo:</strong> {{ student.sexo }}</li>
          <li><strong>Nacionalidad:</strong> {{ student.nacionalidad }}</li>
        </ul>
      </div>
  
      <!-- Datos de procedencia -->
      <div class="card">
        <h3>Datos de procedencia</h3>
        <ul>
          <li><strong>Índice académico:</strong> {{ student.indiceAcademico }}</li>
          <li><strong>Preuniversitario:</strong> {{ student.preuniversitario }}</li>
          <li><strong>Vía de ingreso:</strong> {{ student.viaIngreso }}</li>
          <li><strong>Procedencia:</strong> {{ student.procedencia || '-' }}</li>
          <li><strong>Situación:</strong> {{ student.situacion || '-' }}</li>
        </ul>
      </div>
  
      <!-- Datos sociales -->
      <div class="card">
        <h3>Datos sociales</h3>
        <ul>
          <li><strong>Escolaridad de la madre:</strong> {{ student.escolaridadMadre }}</li>
          <li><strong>Escolaridad del padre:</strong> {{ student.escolaridadPadre }}</li>
          <li><strong>Ocupación de la madre:</strong> {{ student.ocupacionMadre }}</li>
          <li><strong>Ocupación del padre:</strong> {{ student.ocupacionPadre }}</li>
          <li><strong>Sector laboral de la madre:</strong> {{ student.sectorMadre }}</li>
          <li><strong>Sector laboral del padre:</strong> {{ student.sectorPadre }}</li>
        </ul>
      </div>
    </div>
  
  
  </div>
  